.bg-dark {
    background-color: #3939ac !important;
    border-color: #4040bf;
}

.footer-loginFooter {
    Font-Size: 12px;
    align-content: center;
    text-align: center;
    Color: #fff;
    margin-bottom: 0;
    Font-Style: normal;
    right: 0;
    left: 0;
    padding: 1rem;
    position: fixed;
    display: block;
    bottom: 0;
    width: 100%
}